doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title
      | Roti Pay - Web 3
    // Fonts and icons
    //- link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700")
    // Material Icons
    //- link(href='https://fonts.googleapis.com/icon?family=Material+Icons+Round' rel='stylesheet')
    // Font Awesome Icons
    //- script(src='https://kit.fontawesome.com/42d5adcbca.js' crossorigin='anonymous')
    //- link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css')
    link(rel='stylesheet', href='https://rsms.me/inter/inter.css')
    link(rel='stylesheet' href='/dist/tailwind.css')
    // All scoped css is built to this file
    link(rel='stylesheet' href='/dist/app/app.css')
  body
    #app
      
    //- link(rel='stylesheet' href='dist/material-dashboard.css')
    //- script.
    //-   var win = navigator.platform.indexOf('Win') > -1;
    //-   if (win && document.querySelector('#sidenav-scrollbar')) {
    //-     var options = {
    //-       damping: '0.5'
    //-     }
    //-     Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    //-   }
      
    script(type='text/javascript' src='dist/app/app.js')
    //- script(type='text/javascript' src='dist/material-dashboard.js')