extends layout
block content
  link(rel="apple-touch-icon" href="/images/roti-logo.gif")
  link(rel='stylesheet' href='/dist/home_page/home_page.css')
  #HomePage
  script(type='text/javascript' src='/dist/home_page/home_page.js')