doctype html
html
  head
    title= title
    // link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700')
    // link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons+Round')
    // script(src='https://kit.fontawesome.com/42d5adcbca.js')
    // link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC", crossorigin="anonymous")

    //link(rel='stylesheet', href='/css/style.css')
  body.bg-gray-200
    block content
