extends layout

block content
  h1= title
  p Welcome to dork on! #{title}
  hr
  #setup
    .mb-3
      label.form-label Donation Address
      input#donationAddress.form-control(onchange="update()" type='text' placeholder='Donation Address')
    .mb-3
      label.form-label Redirect Url
      input#redirectUrl.form-control(onchange="update()" type='text' placeholder='Redirect Url')
    .mb-3
      textarea#script.form-control(rows='6' readOnly='true').
        <script>
          (function(d, src){
            var e = d.createElement('script');e.src = src;
            d.querySelector('head').appendChild(e);
          })(document, 'http://localhost:3000/x?id=1');
        </script>
  script.
    let id;
    let config = {};
    async function init(){
      const body = await fetch("/api/assets/3");
      const asset = await body.json();
      id = asset.id;
      config = { ...asset.config };

      document.querySelector('input#donationAddress').value = config.address || "";
      document.querySelector('input#redirectUrl').value = config.redirectUrl || "";
    }

    async function update(){
      const config = {
        address: document.querySelector('input#donationAddress').value,
        redirectUrl: document.querySelector('input#redirectUrl').value,
      };

      const options = {
        method: 'PUT',
        body: JSON.stringify({ config }),
        headers: { 'Content-Type': 'application/json' }
      }

      await fetch(`/api/assets/${id}`, options);
    }

    init();